* {
  font-family: 'Josefin Sans', sans-serif;

}

ul{
  margin-bottom: 0;
}

nav{
  background-color: #76c7c0;
  min-height: 80px;
}

.top-menu{
  margin-bottom: 0;
}

.top-menu > li{
  display: inline-block;
  position: relative;
}

.top-menu > li > ul{
  display: none;
}

.top-menu > li > a{
  line-height: 80px;
  color: #ffffff;
  font-size: 12px;
  margin: 0 4px;
  padding: 10px 16px;
  border-radius: 8px;
  transition: background-color 0.25s, color 0.15s;
}

.top-menu > li > a:hover{
  background: #528b86;
  text-decoration: none;
  color: #ffffff;
}

#portfolio:hover{
  background-color: #e75e55;
}


.inner-menu{
  position: absolute;
  top: 90%;
  left: 3%;
  list-style: none;
  padding-left: 0;
  border-radius: 8px;
  text-align: left;
  white-space: nowrap;
  background-color: #e2534b;
  color: #ffffff;
  z-index: 1;
}

.inner-menu > li > a{
  min-width: 100px;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  margin-top: 7px;
  color: inherit;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  background: #e4635c;
}

.inner-menu > li > a:hover{
  color: white;
  background-color: #76c7c0;
}



/* intro-services */

.intro-services{
  background: #e5e6e6;
  min-height: 590px;
}

.section-intro{
  background: #ececec;
  margin-bottom: 96px;
  position: relative;
  top: 48px;
}

.section-intro .col-xl-3,
.section-intro .col-xl-9{
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;     /*Центрирование по вертикали */
}

.section-intro .row{
  min-height: 102px;
}

.section-services{
  min-height: 340px;
}

.section-services .card{
  background: #f8f8f8;
  height: 312px;
  padding: 15px;
}

.section-services button{
  position: relative;
  bottom: 20px;
}

i{
  padding-top: 48px;
  color: #17a2b8;
}

h5{
  padding: 12px 0;
}

.about-header{
  min-height: 400px;
  background: #ececec;
  text-align: center;
}

.about-header h2{
  color: #e1524b;
}

.why-modus{
  position: relative;
  top: 70px
}

.about-footer{
  min-height: 408px;
}


/* progress bar */
/* код партнера */


#header{
  background-color: #aaf0d1; //магическая мята
  border-bottom: 1px solid gray;
  text-align: center;
}
#top_menu{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.25s, color 0.15s;
}
#top_menu > li > a:hover{
  color: white;
  background-color: #a7fc00; // весенний бутон
}
#top_menu > li:hover > ul a{
  opacity: 1;
}
#top_menu > li:hover > ul li{
  height: 40px;
  opacity: 1;
}
.inner_menu{
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: #aaf0d1;
}
.inner_menu > li{
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.4s;
}
.inner_menu > li > a{
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
  height: inherit;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.5s;
}
.inner_menu > li > a:hover{
  color: white;
  background-color: #a7fc00;
}
