nav{
  background-color: #76c7c0;
  min-height: 80px;
}

nav a{
  color: #ffffff;
  font-size: 12px;
  line-height: 80px;
  margin: 0 20px;
}

.section-intro{
  background: #ececec;
  min-height: 102px;
  margin: 48px 0;
}

.section-services{
  min-height: 340px;
  background: #e5e6e6;
}



/* код партнера */
